.comment {
    width: 100%;
    &-header {
        height: 48px;
        border-bottom: 1px solid #2facd3;
        background: green;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .fl,
        .fr {
            text-align: center;
            width: 50%;
        }
    }
    &-content {
        color: red;
    }
}